.main {
  display: flex;
  width: auto;
  height: auto;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-left: 300px;
  padding-right: 350px;
  justify-content: center;
  align-items: center;
}

.tile {
  display: flex;
  height: 200px;
  width: 200px;
  margin: 10px;
}

.row1 {
  border: 1px solid skyblue;
}
.row2 {
  border: 1px solid orange;
}
.row3 {
  border: 1px solid mediumvioletred;
}

.info {
  height: 30px;
  width: 200px;
  text-align: center;
}
.line1 {
  background-color: skyblue;
}
.line2 {
  background-color: orange;
}
.line3 {
  background-color: mediumvioletred;
}
.description {
  /* margin-top: 70px; */
}
.first-color {
  color: skyblue;
}
.second-color {
  color: orange;
}
.third-color {
  color: rgb(199, 176, 181);
}
.image {
  height: 10px;
  width: 200px;
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 100px;
}
.boston {
  margin-top: 10px;
  background-size: 100px 100px;
  background-image: url("./images/planetakeoff.jpeg");
}
.madrid {
  background-image: url("./images/planelanding.webp");
}
.translate {
  background-image: url("./images/translate.png");
}
.bike {
  background-image: url("./images/bike.png");
  /* background-color: orange; */
}
.boat {
  background-image: url("./images/boat.png");
  color: orange;
}
.drive {
  background-image: url("./images/car.png");
}
.coffee {
  background-image: url(./images/coffee.jpeg);
  background-size: 100px 100px;
  margin-top: 10px;
}
.gym {
  background-image: url(./images/gym.webp);
  background-size: 100px 100px;
  margin-top: 10px;
}

.hot-tub {
  background-image: url(./images/hottub.jpeg);
  background-size: 100px 100px;
  margin-top: 10px;
}
