.main{
    display: flex;
    width: 100%;
    height: 400px;
}

.tile{
    display: flex;
    height: 200px;
    width: 200px;
    border: 1px solid aqua;
    margin: 10px;
    justify-content: center;
    align-items: center;
}